#admin_dashboard__dropdowns {
    display: flex;
    gap: 50px;
}

#admin_dashboard__dropdowns .dropdown-currentchoice {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
}

#admin_dashboard__dropdowns .dropdown-togglebutton {
    background-color: #f8f9fa;
    color: #bb6bd9;
    border-radius: 0.5rem;
}

#admin_dashboard__sales {
    margin: 50px 0;
}

#admin_dashboard__access > #access_numbers {
    margin: 30px 0;
    display: flex;
    gap: 70px;
}

#admin_dashboard__consume {
    margin-top: 30px;
}

#admin_dashboard__consume > h2 {
    margin-bottom: 20px;
}

#admin_dashboard__consume th,
#admin_dashboard__consume td {
    text-align: center;
}

#admin_dashboard__consume td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#admin_dashboard__consume + button {
    margin: 30px 0;
    float: right;
}

@media screen and (max-width: 576px) {
    #admin_dashboard__access > h2,
    #admin_dashboard__consume > h2 {
        font-size: 1.4rem;
    }
}
