.order-container .order-control h2 {
    color: #C730B5;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.order-container .order-control {
    background-color: #f7f7f7;
    padding: 2rem;
}

.order-container .order-filter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.order-container .order-filter .filter {
    width: calc(100%/3);
    border: none;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    background-color: white;
}

.order-container .order-filter .filter-dropdown button {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 100%;
}

.order-container .btn-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 1rem;
}

.btn-purple {
    padding: 0.5rem 1.5rem;
    background-color: #C730B5;
    margin-left: 2rem;
    border-radius: 0.6rem;
    color: white;
    border: none;
}

.btn-lighter {
    padding: 0.5rem 1.5rem;
    background-color: #a3a3a3;
    margin-left: 2rem;
    border-radius: 0.6rem;
    color: white;
    border: none;
}

.order-list {
    margin: 2rem 0;
    background-color: #f7f7f7;
    padding: 2rem;
}