/* Filter Bar CSS */

#filter_bar {
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 0.5rem;
}

.filter_heading {
    text-align: start;
    color: #C730B5;
    padding: 20px;
}

.filter_button {
    color: #C730B5;
    border-color: #C730B5;
}

.filter_button:hover {
    color: white;
    border: 0;
    background-color: #C730B5;
}

.filter_input {
    background-color: white;
    border: 0;
}

.filter_input:hover {
    background-color: white;
}

.filter_row {
    padding: 10px 0 30px 0;
}

.btn-group button {
    background-color: white;
    color: black;
    border: 0;
}

.btn-group button:hover {
    background-color: #C730B5;
    color: white;
}


/* Table CSS */

thead tr th {
    color: #C730B5
}

td {
    line-height: 40px;
}

#list_staff {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
}

.status_on {
    border: 0;
    border-radius: 14px;
    background-color: #00CF2E;
    color: white;
    height: fit-content;
    padding: 0 15px 0 15px;
}

.status_off {
    border: 0;
    border-radius: 14px;
    background-color: #8C978E;
    color: white;
    height: fit-content;
    padding: 0 15px 0 15px;
}

td i {
    margin: 20px 20px 0 20px;
}

td.column_name {
    text-align: left;
    padding-left: 40px;
}


/* Modal CSS */

.staff_avatar {
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.staff_modal form div label {
    font-weight: bold;
}

.btn_status {
    display: flex;
    gap: 10px;
}

.modal_footer {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.modal_footer .btn-primary {
    background-color: #C730B5;
    border: none;
}