#editSanPham_body {
    padding: 30px;
}

#editSanPham_body input {
    background-color: #e2e2e2;
    border: none;
    height: 3em;
    padding: 10px;
    width: 100%;
}

#editSanPham_body > div {
    margin: 10px 0;
}

#editSanPham_body .giaca_soluong {
    display: flex;
    justify-content: space-between;
}

#editSanPham_body .dropzone {
    border: 4px solid #c730b5;
    color: #c730b5;
}
