.sign_in_main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(../assets/images/banner.webp) center no-repeat;
    background-size: cover;
    position: relative;
}

.sign_in_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: black 1px solid;
    box-shadow: 5px 5px 5px;
    padding: 25px;
    background-color: white;
}

.sign_in_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sign_in_form h2 {
    color: var(--purple);
}

.sign_in_form div {
    margin-top: 20px;
}

.sign_in_form div input {
    width: 350px;
    height: 40px;
    background-color: #f6f6f6;
    border: none;
}

.sign_in_form button {
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--purple);
    color: white;
    width: 350px;
    height: 35px;
}

.sign_in_box p a {
    color: var(--purple);
}

.sign_in_box > a {
    color: var(--purple);
    background-color: transparent;
    border-style: solid none none none;
    border-color: var(--purple) 0 0 0;
    border: 1 0 0 0;
    width: 100%;
    padding-top: 7px;
    margin-top: 20px;
    text-align: center;
}
