<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="about__content">
          <h1 class="title-default" data-aos="fade-down">
            Câu chuyện cà phê
          </h1>
          <p data-aos="fade-right">
            Em có còn nhớ anh đã tặng Em bao nhiêu bông hồng không? Em có biết
            Em là người phụ nữ đầu tiên anh tặng hoa hồng không? Mới ba tháng mà
            anh cũng không còn nhớ Anh đã tặng Em bao nhiêu bông hồng nữa. Để
            Anh nuôi bao nhiêu hy vọng trong những cánh hồng đó, và tới khi hoa
            tàn cánh rụng Em cũng để hy vọng của Anh bay theo. Hoa hồng tình yêu
            có lỗi gì đâu sao em cứ bắt Anh gom gom góp cánh hoa rơi.Vâng Anh có
            lỗi, giống như bao nhiêu người sinh ra trên thế giới này Anh chỉ
            khác họ một điều là Anh yêu em, vậy Em cho đó là lỗi lầm của Anh
            sao?
            <br /><br />Ngày hôm nay ngồi bên Em và nói chuyện với em, lúc ấy
            Anh rất vui. Nhưng khi Anh chào em quay người bước đi còn Em về
            phòng, Anh đã ngoái lại để đón một ánh mắt yêu thương, chờ đợi một
            người dõi theo Anh lúc Anh ra về, Em vô tư quá làm mình cảm thấy vẫn
            còn xa cách. Anh sẽ chờ một nụ cười khi bắt gặp em ở đâu đó trong
            cái thế giới chật hẹp này, Anh sẽ chờ những tin nhắn, những ánh mắt
            dõi theo Anh lúc Anh ra về. Thôi bình minh sắp tới rồi, Anh lại sắp
            phải làm việc rồi, không những thế chiều nay Anh còn phải thi nữa,
            hy vộng rằng tí nữa Anh sẽ nhận được lời chúc may mắn của Em. Anh
            biết Em có rất nhiều lý do để chưa đến bên Anh, nhưng không sao Anh
            sẽ chờ em hay vui cười Em nhé. Anh mong Em luôn cảm thấy mình hạnh
            phúc. Thôi Anh học bài đây gặp Em sau nhé!!!! Chúc Em ngủ ngon Anh
            của Em!!!
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <img data-aos="fade-left" src="/images/about.png" alt="about" />
      </div>
    </div>
  </div>
</section>
<section id="images">
  <div class="container">
    <h1 class="title-default my-5" data-aos="fade-down">
      Hình ảnh tại The4Nations Coffee
    </h1>
    <div class="image-gallery-grid">
      <div class="grid-row">
        <div class="grid-column">
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-1.jpg"
            alt="coffee-img-1"
          />
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-2.jpg"
            alt="coffee-img-2"
          />
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-3.jpg"
            alt="coffee-img-3"
          />
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-4.jpg"
            alt="coffee-img-4"
          />
        </div>
        <div class="grid-column">
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-5.jpg"
            alt="coffee-img-5"
          />
          <img
            data-aos="zoom-in-up"
            src="/images/cafe-image-7.jpg"
            alt="coffee-img-7"
          />
        </div>
      </div>
    </div>
  </div>
</section>