<div id="admin_dashboard__content" class="col-lg-9">
    <section id="admin_dashboard__dropdowns">
        <div class="btn-group">
            <button type="button" class="btn dropdown-currentchoice">
                7 ngày gần nhất
            </button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split dropdown-togglebutton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">7 ngày gần nhất</a>
                <a class="dropdown-item" href="#">30 ngày gần nhất</a>
                <a class="dropdown-item" href="#">90 ngày gần nhất</a>
                <a class="dropdown-item" href="#">Toàn thời gian</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn dropdown-currentchoice">
                Mọi đồ uống
            </button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split dropdown-togglebutton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mọi đồ uống</a>
                <a class="dropdown-item" href="#">Phindi hạnh nhân</a>
            </div>
        </div>
    </section>

    <section id="admin_dashboard__sales">
        <canvas id="saleChart" width="400" height="200"></canvas>
    </section>

    <section id="admin_dashboard__access">
        <h2>Tỉ lệ truy cập người dùng</h2>
        <canvas id="accessChart" width="400" height="200"></canvas>
        <div id="access_numbers">
            <p>Số lượng người dùng hiện tại: 10000</p>
            <p>Số người đăng ký mới: 1000</p>
        </div>
    </section>

    <section id="admin_dashboard__consume">
        <h2>Mức tiêu thụ người dùng</h2>
        <div style="width: 100%; overflow-x: auto">
            <table id="consume_table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mã</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng đã bán</th>
                        <th scope="col">Phần trăm</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>

    <button class="btn btn-primary">Xuất excel</button>
</div>

<script>
    const dashboardData = JSON.parse(`{{{ json dashboardData }}}`);
    window.onload = () => {
        loadSaleChart(dashboardData.salesData);
        loadAccessChart();
    };
</script>

<script src="/js/admin_dashboard.js"></script>
<script src="/js/admin_dashboard_saleschart.js"></script>
<script src="/js/admin_dashboard_accesschart.js"></script>