<section id="error" class="m-5">
  <div class="container">
    <h3>Đã có lỗi xảy ra</h3>
    <p>{{message}}</p>

    <a href="/"><button class="btn-default btn-outline">Quay lại</button></a>
  </div>
</section>