<section id="success" class="m-5">
  <div class="container">
    <h3>Đặt hàng thành công</h3>
    {{!-- <p>{{message}}</p> --}}

    <a href="/"><button class="btn-default btn-outline">Quay lại</button></a>
  </div>
</section>