@import "./dashboard.css";

h1 {
    font-weight: bold;
    color: #c730b5;
}

#navbarHeaderAdmin {
    margin-left: 11%;
    text-align: center;
}

.bell-icon i {
    color: gray;
    size: 100px;
    padding-top: 30px;
    margin-right: 50px;
}

.bell-icon:hover {
    color: gray;
}

#left-content {
    margin-right: 10%;
}

.sidebar {
    padding-top: 25%;
}

a.row {
    padding-bottom: 20px;
    margin-right: 0px;
    border: none;
    background-color: transparent;
}

.fa-solid {
    color: #c730b5;
}

h6.col-md-10 {
    padding-left: 40px;
    padding-right: 0px;
    color: gray;
}

.Log-out {
    margin-top: 30%;
}

.Log-out h5 {
    font-weight: bold;
    color: gray;
}

#admin_dashboard__content {
    margin-top: 30px;
}
