#updateOrderForm {
    background-color: #ffffff;
    row-gap: 50px;
    padding-bottom: 30px;
    border-radius: 0.5rem;
}

.editDonHang_topHalf,
.editDonHang_bottomHalf {
    margin: 15px;
}

.editDonHang_topHalf_left>div {
    background-color: white;
    padding: 15px;
}

.editDonHang_topHalf_right>div>div {
    background-color: white;
    padding: 15px;
}

.editDonHang_bottomHalf>div {
    background-color: white;
    padding: 15px;
}

#updateOrderForm .btn-group,
#updateOrderForm .dropdown-menu {
    width: 100%;
}

#updateOrderForm>div>div .dropdown-toggle {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
}

.editDonHang_topHalf_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editDonHang_bottomHalf .row {
    padding: 0 15px;
}

#updateOrderForm input {
    background-color: #f8f9fa;
    border: none;
    width: 100%;
    height: 3em;
    padding: 10px;
}

.btn-group select {
    width: 100%;
    height: 3em;
    padding: 10px;
}

@media screen and (max-width: 576px) {
    #settingOrderTitle {
        font-size: 1.4rem;
    }
}