footer {
    background-color: var(--purple);
    color: white;
    padding: 50px 100px;
}

footer a {
    color: white;
    transition: all .1s ease-in-out;
}

footer a:hover {
    color: #ffdaf3;
}

footer .icon {
    display: flex;
    justify-content: flex-start;
}

footer .icon a {
    display: inline-block;
    align-items: flex-start;
    margin-right: 15px;
}

footer .icon i {
    margin-right: 2%;
    size: 50px;
}

footer .nav-link {
    display: inline-block !important;
    padding: .5rem 0 !important;
}

@media (max-width: 768px) {}