:root {
  --purple: #c53093;
  --purple-dark: #a3287a;
  --purple-light: #db36a4;
  --purple-light-2: #ffeef9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arima', cursive;
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 400px);
}

ul {
  list-style: none;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.btn-default {
  background-color: var(--purple);
  color: #fff;
  padding: .5rem 2rem;
  border-radius: 10px;
  border: 1px solid var(--purple);
  text-transform: uppercase;
  transition: .2s ease-in-out;
}

.btn-default.btn-outline {
  background-color: #fff;
  color: var(--purple);
}

.btn-default.btn-outline:hover {
  background-color: var(--purple);
  color: #fff;
}

.title-default {
  font-size: 3rem;
  font-weight: 700;
  color: var(--purple);
}

.slick-dots li button:before {
  font-size: 1rem;
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  color: var(--purple);
  transition: .1s ease-in-out;
}

@media (max-width: 768px) {
  .title-default {
    font-size: 2.5rem;
  }
}

.input-number {
  margin: 0 15px !important;
  width: 50px !important;
  border: none !important;
}

.input-number:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 50px;
  background-color: #fff;
  left: 50% - 50px;
}

.btn-change-value {
  height: 20px;
  border: none;
  width: 50px;
  border-radius: 50%;
}