table {
    text-align: center;
}

.form_edit input{
    background-color: #f8f9fa;
    border: none;
}

.discount_modal select {
    width: 100%;
    background-color: #f8f9fa;
}

.discount_modal label {
    font-weight: bold;
}
