#SanPham_body {
    padding: 30px;
}

#SanPham_body input {
    background-color: #e2e2e2;
    border: none;
    height: 3em;
    padding: 10px;
    width: 100%;
}

#SanPham_body .name_category {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#Sanpham_body .category-dropdown {
    margin: 0px;
    height: 3em;
}

#Sanpham_body .category-dropdown > button {
    height: 3em;
}

#SanPham_body .giaca_soluong {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#SanPham_body .name_category > div,
#SanPham_body .giaca_soluong > div {
    width: 100%;
}

#SanPham_body .dropzone {
    border: 4px solid #c730b5;
    color: #c730b5;
}

@media screen and (max-width: 576px) {
    #settingProductTitle {
        font-size: 1.4rem;
    }
}
