/*File khởi tạo các css chung của page*/

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Import các file css khác vào đây*/

@import "global.css";
@import "header.css";
@import "main_banner.css";
@import "main_menu.css";
@import "main_about.css";
@import "footer.css";

/* Popup container */

.popup {
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    background-color: rgba(241, 241, 241, 0.921);
    border-radius: 1rem;
    padding: 3rem 4rem;
}


/* The actual popup (appears on top) */

.popup {
    visibility: hidden;
    width: 50vw;
    height: 50vw;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    z-index: 22222;
    top: 5vw;
    left: 25vw;
}

.popup .popuptext .item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.popup .popuptext .item .img {
    width: 20%;
}

.popup .popuptext .item .img img {
    width: 100%;
}


/* Popup arrow */


/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}