<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-3">
                <h4>Giới thiệu</h4>
                <br />
                <div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">Về chúng tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#promotion">Khuyến mãi</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 p-3">
                <h4>Đặt hàng: <a href="tel:19001520">1900 5200</a></h4>
                <br />
                <div>
                    <h5>Liên hệ:</h5>
                    <p class="item">
                        227 Nguyễn Văn Cừ, Phường 7, Quận 5, TP HCM
                    </p>
                </div>
                <br />
                <div class="icon">
                    <a href="#"><i
                            class="fa-brands fa-facebook-square fa-xl"
                        ></i></a>
                    <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>