<header>
    <nav class="header-navbar container">
        <a class="navbar-brand" href="#">
            <h1>Four Nations<br />Cafe - Portal</h1>
        </a>

        <ul class="navbar-menu">
            <li class="nav-item dropdown bell-icon">
                <span
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fa-solid fa-bell fa-2xl"></i>
                </span>
                <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="navbarDropdownMenuLink"
                >
                    <a class="dropdown-item" href="#">Hiện không có thông báo</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <img
                        src="{{avatar}}"
                        width="50"
                        height="50"
                        class="rounded-circle"
                    />
                </span>
                <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="navbarDropdownMenuLink"
                >
                    <a class="dropdown-item" href="#">Tài khoản cá nhân</a>
                    <a class="dropdown-item" href="#">Cài đặt</a>
                    <a class="dropdown-item" href="/logout">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>
</header>